# Environment Configuration Template
# Copy this file to docker.env and update with your actual values

# Email configuration (for password reset functionality) --> NOT USED: for now e-mail in backend logs.
# For Gmail: Use App Password, not your regular password
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=noreply@yourdomain.com

# Django settings
SECRET_KEY=your-super-secret-key-here-make-it-long-and-random
DEBUG=1
ENCRYPTION_SECRET=your-encryption-secret-here-for-account-passwords

# Database (automatically configured in Docker)
DATABASE_URL=postgresql://postgres:postgres@db:5432/passwordmanager

